---
title: Home
order: 1
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D3 playground</title>
    <style>
        body {
            background-color: #fff;
        }
        ul {
            padding: ;
            list-style-type: none;
        }
        ul li {
            font-size: 1.25em;
            line-height: 1.5em;
        }
        ul li:before {
            content: '> ';
            color: #00f;
        }
        ul li a {
            color: #00f;
        }
    </style>
</head>
<body>
    <h1>D3 playground</h1>

    {% if contents or file %}
		{% include '../_includes/nav.html' %}
	{% else %}
		{% include nav.html %}
	{% endif %}

</body>
</html>
